Create a user input code for finding prices of items in a shop

In [1]:
Prices = {'Orange':70, 'Apple':120, 'Green Grapes':160, 'Guava':80, 'Grapes':130, 'Pomegranate':180}

User = input("Fruit_name: ")

Price  = Prices[User]

print(f'{User} price - {Price}')

Fruit_name: Guava
Guava price - 80

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,10]

for num in my_list:
    if num % 2 == 0:
        print("Even number\n",num)
    else:
        print(f'Odd number\n{num}')

Odd number
1
Even number
 2
Odd number
3
Even number
 4
Odd number
5
Even number
 6
Odd number
7
Even number
 8
Odd number
9
Even number
 10

In [3]:
for num in [3,4,5]:
    print(num)

3
4
5

In [4]:
mylist = [(1,2),(3,4),(5,6)]
for a in mylist:
    print(a)
for b,c in mylist:     ### Tuple Unpacking
    print(b)
    print(c)

(1, 2)
(3, 4)
(5, 6)
1
2
3
4
5
6

In [5]:
list1 = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in list1:
    print(a)

1
4
7

In [6]:
d = {'k1':1,'k2':2,'k3':3}
for x in d:
    print(x)

k1
k2
k3

In [7]:
d = {'k1':1,'k2':2,'k3':3}
for y in d.items():
    print(y)

('k1', 1)
('k2', 2)
('k3', 3)

In [8]:
for x,y in d.items():
    print(x)
    print(y)

k1
1
k2
2
k3
3

In [9]:
for x in d.keys():
    print(x)

k1
k2
k3

In [10]:
for y in d.values():
    print(y)

1
2
3

In [11]:
if True:
    print("true")

true

In [12]:
if False:
    print("It is false")

In [13]:
hungry = True

if hungry:
    print("Feed me!")
else:
    print("Not hungry!")

Feed me!

In [ ]:
### IF , Elif, Else

From_loc = input("from location?\nOptions:TVM,KTYM,SBC,BAND\n")
To_loc = input("to location\nOptions:Chennai,Mangalore,Kanyakumari,Kasaragod\n")
if From_loc == 'TVM' and To_loc == 'Chennai':
    print("ticket fare - 300")
elif From_loc == 'TVM' and To_loc == 'SBC':
    print("ticket fare - 380")
elif From_loc == 'Mangalore' and To_loc == 'TVM':
    print("ticket fare - 250")
elif From_loc == 'KTYM' and To_loc == 'Kanyakumari':
    print("ticket fare - 130")
elif From_loc == 'BAND' and To_loc == 'Kasaragod':
    print("ticket fare - 100")
else:
    print("No train")

In [2]:
mylist = [1,2,3,4,5]
for num in mylist:
    if num % 2 == 0:
        print('even number: ',num)

even number:  2
even number:  4

In [1]:
x=3

In [3]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [5]:
x=0
while x < 6:
    print(f"x is {x}")
    x+=1

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5

In [6]:
x=0
while x < 6:
    print("x is",x)
    x+=1

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5

## Statements Assessment Test

In [2]:
st = 'Print only the words that start with s in this sentence'
l1 = st.split()
for i in l1:
    if i[0] == 's' or i[0] == 'S':
        print(i)

start
s
sentence

In [2]:
# Use range() to print all the even numbers from 0 to 10.
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [4]:
#Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.
list(range(3,50,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [5]:
#Go through the string below and if the length of a word is even print "even!"
st = 'Print every word in this sentence that has an even number of letters'
st_list = st.split()
for i in st_list:
    if len(i)%2 ==0:
        print("even!",i)

even! word
even! in
even! this
even! sentence
even! that
even! an
even! even
even! number
even! of

In [17]:
'''Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number,
and for the multiples of five print "Buzz".
For numbers which are multiples of both three and five print "FizzBuzz".'''
l1 =[]
for i in range(1,101):
    if i%3 == 0 and i%5 == 0:
        l1.append("FizzBuzz")
    elif i%3 == 0:
        l1.append("Fizz")
    elif i%5 == 0:
        l1.append("Buzz")
    else:
        l1.append(i)
print(l1)

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz', 16, 17, 'Fizz', 19, 'Buzz', 'Fizz', 22, 23, 'Fizz', 'Buzz', 26, 'Fizz', 28, 29, 'FizzBuzz', 31, 32, 'Fizz', 34, 'Buzz', 'Fizz', 37, 38, 'Fizz', 'Buzz', 41, 'Fizz', 43, 44, 'FizzBuzz', 46, 47, 'Fizz', 49, 'Buzz', 'Fizz', 52, 53, 'Fizz', 'Buzz', 56, 'Fizz', 58, 59, 'FizzBuzz', 61, 62, 'Fizz', 64, 'Buzz', 'Fizz', 67, 68, 'Fizz', 'Buzz', 71, 'Fizz', 73, 74, 'FizzBuzz', 76, 77, 'Fizz', 79, 'Buzz', 'Fizz', 82, 83, 'Fizz', 'Buzz', 86, 'Fizz', 88, 89, 'FizzBuzz', 91, 92, 'Fizz', 94, 'Buzz', 'Fizz', 97, 98, 'Fizz', 'Buzz']

In [20]:
#Use List Comprehension to create a list of the first letters of every word in the string below:
st = 'Create a list of the first letters of every word in this string'
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [22]:
print(st.split())

['Create', 'a', 'list', 'of', 'the', 'first', 'letters', 'of', 'every', 'word', 'in', 'this', 'string']